{% extends 'base.html' %}

<script>
{% block jquery %}

// Create plots for weight, bmi, body fat
var endpoint = '/api/scale/data/'
var weightData = []
var bmiData = []
var bodyData = []
var labels = []

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        weightData = data.weight
        bmiData = data.bmi
        bodyData = data.body
        setChart()
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})

function setChart(){
    var ctx = document.getElementById('myChart');
    var ctx2 = document.getElementById('myChart2');
    var ctx3 = document.getElementById('myChart3');
    ctx.height = 150;
    var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Weight',
                fill: false,
                data: weightData,
                borderColor: "#1087ba",
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        autoSkip: true,
                        maxTicksLimit: 21
                    }
                }],
                yAxes: [{
                    ticks: {
                        max:155,
                        min:140
                    }
                }]
            }
        }
    });

    ctx2.height = 150;
    var myChart2 = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'BMI',
                fill: false,
                data: bmiData,
                borderColor: "#3b4b7a",
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        autoSkip: true,
                        maxTicksLimit: 21
                    }
                }],
                yAxes: [{
                    ticks: {
                        max:25,
                        min:20
                    }
                }]
            }
        }
    });

    ctx3.height = 150;
    var myChart3 = new Chart(ctx3, {
        type: 'line',
        data: {
            labels: labels,
            datasets: [{
                label: 'Body Fat',
                fill: false,
                data: bodyData,
                borderColor: "#329997",
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        autoSkip: true,
                        maxTicksLimit: 21
                    }
                }],
                yAxes: [{
                    ticks: {
                        max:19,
                        min:14
                    }
                }]
            }
        }
    });
}




{% endblock %}
</script>

{% block content %}


<!--     Header Portion that links to other user interfaces-->
<hr>
<h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
   <div id="navbarNav" style="display:table-cell; vertical-align:top;">
      <ul class="navbar-nav" style="float:left; list-style: none; margin-left:-50px;">
        <li class="nav-item">
          <a class="nav-link" style= "color:#A5A5A5" href="{% url 'summary' %}">Summary</a> &nbsp&nbsp
        </li>
        <li class="nav-item">
          <a class="nav-link" style= "color:black" href="{% url 'scale-home' %}">Smart Scale</a> &nbsp&nbsp
        </li>
        <li class="nav-item">
          <a class="nav-link" style= "color: #A5A5A5" href="{% url 'sleep-home' %}"> Sleep Tracker</a>
          &nbsp&nbsp
        </li>
        <li class="nav-item">
          <a class="nav-link" style= "color: #A5A5A5"href="{% url 'watch-home' %}">Fitness Watch</a>
        </li>
      </ul>
    </div>
  </nav>

</h1>
<div class='row' style = "margin-top:-25px">
    <hr>

    <div class='col-sm-12' url-endpoint = '{% url "scale-api-data" %}'>
    <font size="+1" color = 'DimGrey'>

        <!--     Button to turn device ON/OFF-->
        <form method="get" name="scale-home">
            <button type="submit" name="device">ON/OFF</button>
        </form>

        <!--     Display current state and last sync-->
        <br><b>  Current State:</b> {{scale_status}} <br>
        <b> Last Sync:</b> {{last_sync}}<br>

        <!--     Input to select start and end dates-->
        <form method="get" name="scale-api-data">
            <b>Dates: </b> 
            <input type="text" value = {{start_date}} name="start_date" style="width: 120px">
            <b> to </b>
            <input type="text" value = {{end_date}} name="end_date" style="width: 120px">
            <button type="submit" name ='dates'> > </button> 
        </form>
    </font>



    <!--     Show averages within the dates-->
    <hr>
    <div style="width: 1200px;">
        <div style="float: left; width: 300px;">
                <font size="+1" color="CadetBlue">Weight Average<br></font>
                <font size="+3" color = 'DimGrey'>{{avg_weight}}</font>
         </div>
         <div style="float: left; width: 300px;">
                <font size="+1" color="CadetBlue">BMI Average <br></font>
                <font size="+3" color = 'DimGrey'>{{avg_bmi}}</font>
        </div>
         <div style="float: left; width: 200px;">
                <font size="+1" color="CadetBlue">Body Fat Average <br></font>
                <font size="+3" color = 'DimGrey'>{{avg_body}}</font>
        </div>
        <br style="clear: left;" />
    </div>

    <!--     Display line plots created-->
    <hr> 
    <canvas id="myChart" width="400" height="300"></canvas>
    <canvas id="myChart2" width="400" height="300"></canvas>
    <canvas id="myChart3" width="400" height="300"></canvas>

    </div>
</div>

{% endblock content %}
